<div class="smart-kv container">
    <legend class="smart-kv-legend" ng-hide="legend === \"\"">{{ legend }}</legend>
    <div ng-repeat="property in propertiesCollection" ng-class="bsRowClass"
        class="smart-kv-row {{ kvRowClass }}">
      <div class="smart-kv-label {{ bsLabelWidthClass }}"><div class="{{ kvLabelClass }}">{{ property.label }}</div></div>
      <div class="smart-kv-value {{ bsValueWidthClass }}"><div class="smart-kv-value-holder {{ kvValueClass }}"></div></div>
    </div>
</div>
